In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
import sklearn
from patsy import dmatrices
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
train_o = pd.read_csv("all/Train_rev1.csv")

In [3]:
train = train_o.sample(n = 2500, random_state = 1)

In [4]:
test = train_o.sample(n = 2500, random_state = 2)

In [5]:
train["ContractType"].value_counts()

full_time    585
part_time     92
Name: ContractType, dtype: int64

In [6]:
train["ContractTime"].value_counts()

permanent    1520
contract      286
Name: ContractTime, dtype: int64

In [7]:
train["Category"].value_counts()

IT Jobs                             356
Engineering Jobs                    254
Accounting & Finance Jobs           219
Healthcare & Nursing Jobs           212
Other/General Jobs                  180
Sales Jobs                          170
Teaching Jobs                       154
Hospitality & Catering Jobs         113
PR, Advertising & Marketing Jobs     93
Trade & Construction Jobs            86
Retail Jobs                          80
Customer Services Jobs               75
HR & Recruitment Jobs                75
Admin Jobs                           72
Legal Jobs                           44
Social work Jobs                     35
Energy, Oil & Gas Jobs               33
Logistics & Warehouse Jobs           32
Scientific & QA Jobs                 32
Consultancy Jobs                     31
Manufacturing Jobs                   29
Charity & Voluntary Jobs             27
Travel Jobs                          25
Maintenance Jobs                     23
Graduate Jobs                        15
Creative & Design Jobs               15
Property Jobs                        11
Domestic help & Cleaning Jobs         8
Part time Jobs                        1
Name: Category, dtype: int64

In [8]:
train["LocationNormalized"].value_counts()

UK                              443
London                          325
South East London               103
The City                         68
Birmingham                       40
Leeds                            33
Central London                   30
Manchester                       29
Surrey                           24
West Midlands                    23
Leicester                        23
Sheffield                        22
Nottingham                       19
Milton Keynes                    19
Reading                          18
Aberdeen                         17
Hampshire                        17
Bristol                          16
Oxford                           16
Hertfordshire                    16
Cambridge                        16
South West London                15
Newcastle Upon Tyne              14
Slough                           12
Liverpool                        12
East Sheen                       12
Oxfordshire                      12
Berkshire                        11
East Midlands                    11
Kent                             11
                               ...
Colwyn Bay                        1
Keighley                          1
Bridgnorth                        1
Greenwich                         1
Benfleet                          1
Angus                             1
Johnstone                         1
Windsor                           1
Dartford                          1
Clacton-On-Sea                    1
Southend-On-Sea                   1
Normanton                         1
Swanley                           1
Altrincham                        1
Blaydon Burn                      1
Stockland Bristol                 1
St. Albans                        1
Llanelli                          1
Shropshire                        1
Havant                            1
Tuttington                        1
New Malden                        1
Blackpool                         1
Sale                              1
Glasgow East Investment Park      1
Chipping Norton                   1
Tetbury                           1
East Sussex                       1
Oldham                            1
Sompting                          1
Name: LocationNormalized, Length: 476, dtype: int64

In [148]:
#train["ContractType"].value_counts()

#train["ContractTime"].value_counts()

#train["Category"].value_counts()

#train["LocationNormalized"].value_counts()

In [9]:
train_num = train[["ContractType", "ContractTime","Category", "LocationNormalized"]].copy()
test_num = train[["ContractType", "ContractTime","Category", "LocationNormalized"]].copy()

In [10]:
London_area = ["London", "South East London", "Central London"]

In [11]:
train_num["LocationNormalized"] = train_num["LocationNormalized"].map(lambda x: "London_area" if x in London_area else "Others")
test_num["LocationNormalized"] = test_num["LocationNormalized"].map(lambda x: "London_area" if x in London_area else "Others")

In [12]:
train_num[:5]

,ContractType,ContractTime,Category,LocationNormalized
179687,NaN,permanent,IT Jobs,London_area
18497,NaN,NaN,Hospitality & Catering Jobs,London_area
86382,NaN,permanent,Legal Jobs,Others
12805,NaN,permanent,Retail Jobs,Others
203497,NaN,permanent,IT Jobs,Others

In [13]:
high_cut = train_o["SalaryNormalized"].describe()["75%"]

In [14]:
train_num_y = train["SalaryNormalized"].map(lambda x : "high" if x >= high_cut else "low")
test_num_y = test["SalaryNormalized"].map(lambda x : "high" if x >= high_cut else "low")

In [15]:
#train_num.fillna("missing", inplace = True)
#test_num.fillna("missing", inplace = True)

In [16]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
#gnb = GaussianNB()
gnb = MultinomialNB()

In [17]:
train_num_d = pd.get_dummies(train_num)
test_num_d = pd.get_dummies(test_num)

In [18]:
train_num_d[:3]

,ContractType_full_time,ContractType_part_time,ContractTime_contract,ContractTime_permanent,Category_Accounting & Finance Jobs,Category_Admin Jobs,Category_Charity & Voluntary Jobs,Category_Consultancy Jobs,Category_Creative & Design Jobs,Category_Customer Services Jobs,...,Category_Property Jobs,Category_Retail Jobs,Category_Sales Jobs,Category_Scientific & QA Jobs,Category_Social work Jobs,Category_Teaching Jobs,Category_Trade & Construction Jobs,Category_Travel Jobs,LocationNormalized_London_area,LocationNormalized_Others
179687,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
86382,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
classifier = gnb.fit(train_num_d , train_num_y)

In [20]:
y_pred_train =classifier.predict(train_num_d)
y_pred_test =classifier.predict(test_num_d)

In [21]:
from sklearn import metrics
print(metrics.accuracy_score(train_num_y, y_pred_train))

0.7844

In [22]:
print(metrics.accuracy_score(test_num_y, y_pred_test))

0.7076

In [23]:
print(metrics.confusion_matrix(test_num_y, y_pred_test, labels=("high", "low")))

[[  49  558]
 [ 173 1720]]

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
import string

def tokenize(text):
    text = "".join([ch for ch in text if ch not in string.punctuation])
    tokens = nltk.word_tokenize(text)
    return tokens

In [26]:
#train["FullDescription"] = train["FullDescription"].map(tokenize)

#test["FullDescription"] = test["FullDescription"].map(tokenize)

In [27]:
vectorizer = TfidfVectorizer(
 tokenizer=tokenize,
 use_idf = False,
 stop_words='english')

In [28]:
X_train = vectorizer.fit_transform(train["FullDescription"])
X_test = vectorizer.transform(test["FullDescription"])

In [29]:
Y_train = train["SalaryNormalized"].map(lambda x : "high" if x >= high_cut else "low")
Y_test = test["SalaryNormalized"].map(lambda x : "high" if x >= high_cut else "low")

In [30]:
X_train_d = X_train.todense()

X_test_d = X_test.todense()

In [31]:
classifier_2 = gnb.fit(X_train_d, Y_train)

In [32]:
y_pred_2 =classifier_2.predict(X_train_d)

In [33]:
pd.Series(y_pred_2).value_counts()

low     2498
high       2
dtype: int64

In [34]:
print(metrics.accuracy_score(Y_train, y_pred_2))

0.7596

In [35]:
y_pred_t_2 = classifier_2.predict(X_test_d)

In [36]:
print(metrics.accuracy_score(Y_test, y_pred_t_2))

0.7572

In [37]:
print(metrics.confusion_matrix(Y_test, y_pred_t_2, labels=("high", "low")))

[[   0  607]
 [   0 1893]]

In [38]:
from operator import itemgetter

In [39]:
N = 10
vocabulary = np.array([t for t, i in sorted(vectorizer.vocabulary_.items(), key=itemgetter(1))])

topN = np.argsort(classifier_2.coef_[0])[-N:]
print("\nThe top %d most informative features for topic code %s: \n%s" % (N, "high", " ,".join(vocabulary[topN])))

The top 10 most informative features for topic code high:
looking ,client ,sales ,business ,working ,skills ,team ,role ,work ,experience

In [40]:
topN = np.argsort(classifier_2.coef_[0])[:N]
print("\nThe top %d most informative features for topic code %s: \n%s" % (N, "low", " ,".join(vocabulary[topN])))

The top 10 most informative features for topic code low:
�negotiable ,redruth ,docs ,docklands ,dnsbind ,dno ,dml ,wwwtotaljobscomjobseekingbilingualgermanbusinessdevelopmentsalesmanagerjob ,dmj ,django

In [203]:
X_train_combine = np.concatenate((np.array(train_num_d), X_train_d), axis=1)
X_test_combine = np.concatenate((np.array(test_num_d), X_test_d), axis=1)

In [204]:
classifier_3 = gnb.fit(X_train_combine, Y_train)

In [205]:
y_pred_3 =classifier_3.predict(X_train_combine)

In [206]:
print(metrics.accuracy_score(Y_train, y_pred_3))

0.76

In [207]:
y_pred_t_3 = classifier_3.predict(X_test_combine)

In [208]:
print(metrics.accuracy_score(Y_test, y_pred_t_3))

0.7572

In [209]:
print(metrics.confusion_matrix(Y_test, y_pred_t_3, labels=("high", "low")))

[[   0  607]
 [   0 1893]]